MONGO_URI=mongodb+srv://chatapp_user:gE8IZXwhx3AMedSL@chat-app-cluster.gb2dpzy.mongodb.net/?appName=chat-app-cluster
JWT_ACCESS_SECRET=anyRandomLongString123
JWT_REFRESH_SECRET=anotherRandomLongString456
CLIENT_URL=http://localhost:5173
PORT=5000
REDIS_URL=redis://default:zv5Dp0asdacMXRfb8mpAau2s8VAvZpq1@needle-nippy-impulse-32906.db.redis.io:15136
CLOUDINARY_CLOUD_NAME= dome7rug3
CLOUDINARY_API_KEY=787353999517228
CLOUDINARY_API_SECRET=WGjHIzOMtYgqU58TydwHpUdBkGo